@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

#about {
  scroll-margin-block-start: 14vh;
}

#skills {
  scroll-margin-block-start: 20vh;
}

#projects {
  scroll-margin-block-start: 14vh;
}

#contact {
  scroll-margin-block-start: 14vh;
}

@layer base {
  body {
    /* @apply bg-[#393939] text-[#1f2937] tracking-wide */
    @apply bg-[#F7F7F7] text-[#1f2937] tracking-wide;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow shadow-gray-500 rounded-xl uppercase bg-[#CE7726] hover:bg-[#E88122] text-white;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about {
    scroll-margin-block-start: 0vh;
  }
  #skills {
    scroll-margin-block-start: 6vh;
  }
  #projects {
    scroll-margin-block-start: 14vh;
  }
  #contact {
    scroll-margin-block-start: 14vh;
  }
}
